In [48]:
import numpy as np
from sklearn.datasets import load_diabetes
import pandas as pd
diab = load_diabetes()

In [49]:
diab_df = pd.DataFrame(diab.data)
X = diab_df.iloc[:,:-1]
y = diab_df.iloc[:,-1]

In [50]:
diab_df.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [51]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [52]:
#model
import xgboost as xgb

model=xgb.XGBRegressor(objective ='reg:squarederror', colsample_bytree = 0.3, learning_rate = 0.01,max_depth = 5, alpha = 10, n_estimators = 10)

model.fit(X_train,y_train)

y_prediction=model.predict(X_test)

In [53]:
#Accuracy Calculation
from sklearn.metrics import mean_squared_error 
rmse = np.sqrt(mean_squared_error(y_test, y_prediction)) 

print("RMSE: %f" % (rmse))

RMSE: 0.459355

In [54]:
 from sklearn.model_selection import cross_val_score
 scores = cross_val_score(model, X, y, cv=5)
 scores.mean()

-96.34044003189005